@import url('https://fonts.google.com/specimen/Libre+Franklin');

.homePage{
  margin-top: 65px;
  position: absolute;
  width: 100%;
  height: 1300px;
  /* var(--header-height); */
  background: #272727;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.imgContainer{
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
.imgContainer img{
  height: 500px;
  width: 600px;
}


/* All css for the drop down options */

.optionsContainer{ 
  display: flex;
  justify-content: center;
  width: 100%;
}
.gameDropDowns{
  height: 150px;
  position: relative;
  margin-top: 60px;
  list-style: none;
  margin-left: auto; 
	margin-right: auto; 
}
.gameDropDowns .guessRows{ 
  position: relative;
  justify-content: center;
  margin-left: auto; 
	margin-right: auto; 
  list-style: none;
  margin: 10px;
}


.newGameDropDown{
  list-style: none;
  display: inline-flex;
  margin-left: auto; 
	margin-right: auto; 
  justify-content: center;
}


/* correct present absent */

.nestedList{
  display: inline-flex;
  list-style: none;
  margin: 1px;
}

.nestedListOptions{
  display: inline-flex;
  width: 200px;
}